* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
@font-face {
    font-family: 'icomoon';
    src:  url('../assets/fonts/iconmenu/icomoon.eot?h8i4cb');
    src:  url('../assets/fonts/iconmenu/icomoon.eot?h8i4cb#iefix') format('embedded-opentype'),
      url('../assets/fonts/iconmenu/icomoon.ttf?h8i4cb') format('truetype'),
      url('../assets/fonts/iconmenu/icomoon.woff?h8i4cb') format('woff'),
      url('../assets/fonts/iconmenu/icomoon.svg?h8i4cb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }

body {
    font-family: 'Cabin Condensed', sans-serif;;
    background:  rgba(209,209,209,1);
}
.burger-button {
    width: 40px;
    height: 40px;
    background: #212121;
    color: #fff;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 5;
}

.container {
    margin: auto;
    max-width: 1250px;
}

header {
    background: linear-gradient(45deg, rgba(226,226,226,1) 24%, rgba(219,219,219,1) 38%, rgba(215,215,215,1) 46%, rgba(209,209,209,1) 59%, rgba(214,214,214,1) 64%, rgba(254,254,254,1) 100%);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 16px;
    margin: auto;
    /* position: fixed; */
    height: 61px;
    justify-content: space-between;
}

.logo {
    display: flex;
    height: inherit;
    align-items: center;
    padding: 0 50px;
}

.logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.motto {
    font-family: 'Roboto Mono', monospace;
    padding: 0 5px;
    color: #212121;
    font-size: 1.3em;
    text-transform: capitalize;
    font-style: italic;
}

nav {
    height: inherit;
    font-size: 1.1em;
}
 
nav ul {
    display: flex;
    margin: 0;
    padding: 0 50px;;
    height: inherit;
}

nav ul li {
    color: rgba(8, 152, 219, 0.466);
    list-style: none;
    height: inherit;
}

nav ul a {
    display: flex;
    align-items: center;
    font-family: 'Alegreya', serif;
    font-weight: 700;
    height: inherit;
    padding: 0 10px;
    margin: 0 20px;
    text-decoration: none;
}

.information {
    background: linear-gradient(-45deg, rgba(226,226,226,.1) 0%, rgba(219,219,219,.5) 50%, rgba(209,209,209,.6) 51%, rgba(254,254,254,.9) 100%), url('../assets/images/fondo.jpg') left no-repeat;
    background-size: cover;
    color: rgba(9, 10, 0, 0.664);
}
.information-personal{
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 20vh;
    text-align: center;
}

.information-personal h1, h2, h3 {
    font-family: 'Merienda', cursive;
}

.eslogan {
    font-size: 2.5em;
}

.name {
    font-size: 2em;
}

.profession {
    font-size: 1.6em;
}

.photo {
    width: 160px;
    height: 115px;
    border-radius: 5px;
    background: linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 40%, rgba(89,89,89,1) 50%, rgba(17,17,17,1) 60%, rgba(0,0,0,1) 61%, rgba(43,43,43,1) 68%, rgba(28,28,28,1) 81%, rgba(89,89,89,1) 96%, rgba(19,19,19,1) 100%);
    margin: 10px;
    padding: 5px; 
}

.latestWorks {
    display: flex;
    flex-direction: column;
}

.title-area {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #292929;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 0;
}

.latestworks-container {
    flex-direction: row; 
    flex-wrap: wrap;
    margin: 20px 0;
    width: 100%;
}

.card {
    display: flex;
    width: inherit;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-items {
    background:  rgba(237,237,237,1);
    font-size: 16px;
    border: 2px;
    border-radius: 5px;
    height: 582px;
    margin: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.athlete {
    width: inherit;
    margin: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.athlete-name {
    font-weight: 700;
    font-size: 1.8em;
}

.img-container {
    margin: 0;
    width: 100%;
    padding: 4px;

}

.photo-athlete {
    max-width: 100%;
    border-radius: 5px;
    height: 300px;
    object-fit: cover;
}

.description {
    height: 150px;
    display: flex;
    align-items: center;
    font-size: 1.09em;
}

.description-athlete {
    margin: 0;
    padding: 10px;
}

.exposition {
    text-decoration: none;
    font-size: 1em;
    background: #292929;
    border: 1px solid;
    padding: 8px 33px;
    border-radius: 7px;
}

.exposition a {
    text-decoration: none;
    color: #fff;
}

.gallery-container {
    display: flex;
    flex-direction: column;
}

.description-gallery {
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    align-self: center;
    margin: 10px;
    padding: 10px 0;
    font-size: 1em;
}

.img-gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-gallery-container div {
    width: 48%;
    height: 300px;
    margin: 1%;
}

.imgs-exposition {
    display: flex;
    width: 95%;
    height: 95%;
    margin: auto;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgs-exposition:hover {
    background-size: 100%;
    /*width: 425px;
    height: 235px;
    border: white solid 1px;*/
    transition-duration: 500ms;
}

.imgs-exposition.ciclomontanismo {
    background-image: url(../assets/images/gallery/ciclomontanismo.jpg);
}


.imgs-exposition.ciclomontanismo:hover {
    background-image: url(../assets/images/gallery/ciclomontanismo2.jpg);
}

.imgs-exposition.cuarto {
    background-image: url(../assets/images/gallery/cuartos\ de\ milla.jpg);
}

.imgs-exposition.cuarto:hover {
    background-image: url(../assets/images/gallery/cuarto\ de\ milla2.jpg);
}

.imgs-exposition.monster {
    background-image: url(../assets/images/gallery/monster\ jam.jpg);
}

.imgs-exposition.monster:hover {
    background-image: url(../assets/images/gallery/monster\ jam2.jpg);
}

.imgs-exposition.motocross {
    background-image: url(../assets/images/gallery/motocross.jpg);
}

.imgs-exposition.motocross:hover {
    background-image: url(../assets/images/gallery/motocross2.jpg);
}

.imgs-exposition.paracaidismo {
    background-image: url(../assets/images/gallery/paracaidismo.jpg);
}

.imgs-exposition.paracaidismo:hover {
    background-image: url(../assets/images/gallery/paracaidismo2.jpg);
}

.imgs-exposition.rafting {
    background-image: url(../assets/images/gallery/rafting.jpg);
}

.imgs-exposition.rafting:hover {
    background-image: url(../assets/images/gallery/rafting2.jpg);
}

.imgs-exposition.surf {
    background-image: url(../assets/images/gallery/surf.jpg);
}

.imgs-exposition.surf:hover {
    background-image: url(../assets/images/gallery/surf2.jpg);
}

.imgs-exposition.x-games {
    background-image: url(../assets/images/gallery/x\ games.jpg);
}

.imgs-exposition.x-games:hover {
    background-image: url(../assets/images/gallery/x\ games2.jpg);
}

.about-me {
    width: 100%;
}

.about-me-content {
    font-size: 16px;
    width: 100%;
}

.about-me-content-hello {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 500px;
}

.about-me-content h3 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}
.about-me-content-hello p{
    width: 100%;
    margin: 0 0 24px 0;
    text-align: center;
}

.about-me-section {
    width: 100%;
    border-radius: 4px;
    margin-top: 50px;
    height: 500px;
    background-image: url(../assets/images/about\ me/dakar.png);
    background-size: cover;
}


.about-me-section p {
    margin: 0;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    text-align: center;
    color: white;
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
}

.trajectory {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    height: 600px;
    border-top: 1.5px black solid;
    border-bottom: 1.5px black solid;
}

.trajectory figure img {
    border: 1px white solid;
}

.trajectory p {
    width: 686px;
}

.contact {
    background: rgba(226,226,226,1);
    color: #212121;
    height: 200px;
}

.contact h3 {
    margin: 0;
    padding: 10px 0 0 10px;
}

.contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.form-contact h4 {
    text-transform: capitalize;
}

.form-contact {
    display: flex;
    flex-direction: column;
    width: 251px;
}

.form-contact input,button {
    flex-shrink: 0;
    background: transparent;
    border: black solid 1px;
    border-radius: 3px;
    padding: 3px;
}

.form-contact button {
    background: transparent;
    border: black 1px solid;
    border-radius: 3px;
    color: black;
    width: 100px;
    margin-top: 6px;
    padding: 5px 20px;
}

.social {
    display: flex;
}

.link-social {
    width: 60px;
    height: 60px;   
    background-size: 60px 60px;
    margin: 2px;
}

.link-social.facebook {
    background-image: url(../assets/images/social/facebook.png);
    padding: 2px;
    background-size: 59px; 
}

.link-social.instagram {
    background-image: url(../assets/images/social/instagram.png);
}

.link-social.twitter {
    background-image: url(../assets/images/social/twitter.png);
}

footer {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-size: 13px;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
    height: 50px;
    margin: 0;
    background: grey; 
}



.logo-footer {
    width: 33px;
    vertical-align: middle;
}

.author {
    margin: 0 15px;
    height: inherit;
    text-align: center;
}

footer p {
    padding: 0 15px;
    text-transform: capitalize;
}

.creator {
    height: inherit;
    text-align: center;
}

@media screen and (max-width: 1110px) {
    .header {
        height: auto;
        display: flex;
        border-radius: 5px;
        justify-content: center;
        margin-top: 11px;
    }
    .logo {
        margin-bottom: 9px;
        padding-top: 7px;
    }
    .header nav {
        margin-bottom: 12px;
        width: inherit;
        display: flex;
        justify-content: space-between;
    }

    .menu {
        width: inherit;
        display: inherit;
        justify-content: space-between;
    }

}

@media screen and (max-width: 1024px){
    .information-personal {
        font-size: 14px;
    }
    .img-gallery-container div {
        width: 40%;
        height: 209px;
    }
    
}

@media screen and (max-width: 768px) {
    .header {
        font-size: 14.5px;
    }
    .card {
        flex-direction: column;
        align-items: center;
    }
    .card-items {
        font-size: 14px;
        width: 68%;
    }  
    .img-gallery-container div {
        width: 42%;
        height: 150px;
    } 
    .about-me-content-hello {
        height: 350px;
    }
    .about-me-section {
        height: 373px;
    }
    .trajectory {
        flex-direction: column-reverse;
        padding: 0 2em;
    }
    .contact {
        height: auto;
    }
    .contact-content {
        padding: 29px 0;
    }
    .form-contact input {
        margin: 10px 0;
    }
}

@media screen and (max-width: 480px) {
    .card-items {
        width: 95%;
    } 
    .menu {
        padding: 0;
    }
    .information-personal {
        font-size: 12px;
    }
    .information-personal h1, h2, h3 {
         margin-bottom: 0.5em;
    }
    .gallery-container{
        font-size: 0.8em;
    }
    .img-gallery-container {
        flex-direction: column;
        align-items: center;
    }
    .img-gallery-container div {
        width: 84%;
        height: 203px;
    }
    .about-me-content {
        font-size: 13px;
    }
    .about-me-section {
        height:  235px;
    }
    .about-me-section p {
        font-size: 2.2em;
    }
    .trajectory {
        flex-wrap: initial;
    }
    .trajectory-content {
        width: 100%;
        height: auto;
    }
    .trajectory p {
        width: inherit;
    }
    .social {
        padding-top: 10px;
    }
    footer {
        height: auto;
        justify-content: center;
    }
    .author {
        margin: 7px 15px;
    }
    .creator {
        padding: 10px 0;
    }
}

@media screen and (max-width: 320px) {
    .burger-button {
        display: flex;
    }
    .motto {
        display: none;
    }
    .menu {
        position: fixed;
        left: -100vw;
        top: 0;
        bottom: 0;
        width: -100vw; 
        z-index: 4;
        background: rgba(226,226,226,0.8);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: .5s;

    }
    .menu.is-active {
        left: 0;
    }
    .information {
        background: url('../assets/images/fondo.jpg') left no-repeat;
    }
    .information-personal {
        padding: 3.5em;
    }
    .card-items {
        height: 491px
    }
    .photo-athlete {
        height: 177px;
    }
    .img-gallery-container div {
        height: 137px;
    }
    .about-me-content-hello {
        height: 246px;
        margin-top: 17px;
    }    
    .about-me-section {
        margin-top: 15px;
    }
    .about-me-section {
        height: 164px;
    }
    .about-me-section p {
        font-size: 1.7em;
    }
    .about-me-content .trajectory-content h3 {
        margin-top: 82px;
    }
    .trajectory {
        height: auto;
    }
    .trajectory figure img {
        width: 150px;
        margin: 23px auto;
    }    
}